<a href="/soccer_teams">Soccer Team Index</a>

<h1><%= @soccer_teams.name %></h1>
<h2><%= @soccer_teams.qualified_champ_league %></h2>
<h3><%= @soccer_teams.points %></h3>

<a href="/soccer_players">All soccer players with the league</a>
