<form action="/mountains" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new Mountain:</p>
  <input type='text' name='mountains[name]'/><br/>
  <p>Is volcanic?(True/False):</p>
  <input type='text' name='mountains[volcanic]'/><br/>
  <p>Elevation(ft):</p>
  <input type='text' name='mountains[elevation]'/><br/>
  <p>Mountain Range it belongs to:</p>
  <input type='text' name='mountains[mountain_ranges_id]'/><br/>
  <input type='submit'/>
</form>
