<a href="/mountain_ranges">Mountain Range Index</a>

<h1><%= @mountain_range.name %></h1>
<h2><%= @mountain_range.has_ski_resort %></h2>
<h2><%= @mountain_range.included_states %></h2>

<a href="/mountains">All Mountains Within Range</a>
