
<html style="background-color:white">
  <body style="background-color:white;">
    <h1 style="color:blue;text-decoration:underline;">All Soccer Players</h1>

    <% @soccer_players.each do |player| %>
      <h2><a  style="color:green;"href="/soccer_players/<%= player.id %>"><%= player.name %></a></h2>
      <p>
        <span style="text-decoration:underline;color:white;">If this is a homegrown player:</span>
        <span style="color:blue;"> <%= player.homegrown_player %></span>
      </p>
      <p>
        <span style="text-decoration:underline;color:white;">The games played by player:</span>
        <span style="color:blue;"> <%= player.games_played %></span>
      </p>
    <% end %><br><br>
    <a href="/soccer_players/new"><input type="submit" style="font-size:20px;font-weight:bold;color:blue;" value="Add another soccer player"/></a><br><br>
    <a style="color:white;" href="/soccer_players">Soccer Player Index</a>

  </body>
</html>
